body {
	/*background-image: url('background.jpg'); */
}

fieldset div {
	margin: 10px;
}

.page {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}

.nav,
.main {
	width: 700px;
	margin: 0 auto;
}

.main {
	padding: 20px;
}

.footer {
	margin: 0 auto;
	padding: 20px 0;
}

.footer a {
	display: inline-block;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	float: left;
}

.footer a p,
.footer a img {
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 0px 0px 0px 5px;
	color: #939393;
}

.footer p {
	float: left;
	height: 20px;
	margin: 0px 0px 0px 5px;
	color: #939393;
}

iframe {
	height: 60px;
}

.layui-carousel div {
	text-align: center;
	font-size: larger;
	line-height: 450px;
}

.bg {
	background-size: cover;
}

.layui-tab-item {
	height: 650px;
}

#menu ul li {
	margin: 10px;
}

.news {
	margin: 15px;
}

.news h2{
	margin-bottom: 5px;
}

.news a {
	text-decoration: none;
	color: #333333;


}

.news a:hover {
	text-decoration: none;
}

.news p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}